<div class="about-me">
  <h2 class="pt-5">ABOUT ME</h2>
  <i class="fa fa-star fa-2x"></i>
  <hr class="star" />
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <ngx-typed-js
        [strings]="['Mohamed Eldiyasty']"
        [loop]="true"
        [typeSpeed]="70"
        [startDelay]="1500"
      >
        <h4>Name</h4>
        <h5 class="typing"></h5>
      </ngx-typed-js>
      <ngx-typed-js
        [strings]="['28']"
        [loop]="true"
        [typeSpeed]="70"
        [startDelay]="1000"
      >
        <h4>Age</h4>
        <h5 class="typing"></h5>
      </ngx-typed-js>
      <ngx-typed-js
        [strings]="['faculty of education al azhar university']"
        [loop]="true"
        [typeSpeed]="70"
        [startDelay]="500"
      >
        <h4>Education</h4>
        <h5 class="typing"></h5>
      </ngx-typed-js>
      <ngx-typed-js
        [strings]="['Dakhlia , EGYPT']"
        [loop]="true"
        [typeSpeed]="70"
        [startDelay]="500"
      >
        <h4>I'm From</h4>
        <h5 class="typing"></h5>
      </ngx-typed-js>
    </div>
    <div class="col-sm-12 col-md-6">
      <img
        src="../../../assets/diyasty.jpg"
        width="270px"
        height="170px"
        class="img-thumbnail"
      />
    </div>
  </div>
  <h2 class="pt-5">My Skills</h2>
  <i class="fa fa-star fa-2x"></i>
  <hr class="star" />
  <div id="SkillBox">
    <div class="SkillBar">
      <div id="Skill-HTML">
        <span class="Skill-Area">HTML</span>
        <span class="PercentText">90%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-CSS">
        <span class="Skill-Area">CSS/CSS3</span>
        <span class="PercentText">70%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-jQuery">
        <span class="Skill-Area">JavaScript</span>
        <span class="PercentText">75%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-JS">
        <span class="Skill-Area">Angular </span>
        <span class="PercentText">65%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-XML">
        <span class="Skill-Area">React </span>
        <span class="PercentText">40%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-C">
        <span class="Skill-Area">Mongodb</span>
        <span class="PercentText">30%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-JAVA">
        <span class="Skill-Area">mysql </span>
        <span class="PercentText">25%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-PHP">
        <span class="Skill-Area">Ux , Ui </span>
        <span class="PercentText">50%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-SQL">
        <span class="Skill-Area">Bootstrap </span>
        <span class="PercentText">80%</span>
      </div>
    </div>

    <div class="SkillBar">
      <div id="Skill-VBNET">
        <span class="Skill-Area">Node Js </span>
        <span class="PercentText">35%</span>
      </div>
    </div>
  </div>
</div>
