<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center mt-4">App hero</h2>
        <hr class="star" />

        <h4 class="text-center">
          Web application build on top of the Materialize css framework
        </h4>
        <hr class="star" />
      </div>

      <div class="effect laertes col-md-12">
        <div class="buttons col-md-8">
          <a href="http://facebook.com/diyasty" class="fb" title="My Facebook"
            ><i class="fa fa-facebook" aria-hidden="true"></i
          ></a>
          <a href="http://twitter.com/diyasty" class="tw" title="My Twitter"
            ><i class="fa fa-twitter" aria-hidden="true"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/diyasty/"
            class="in"
            title="My Linked In"
            ><i class="fa fa-linkedin" aria-hidden="true"></i
          ></a>
          <a href="http://github.com/diyasty" class="in" title="My  github"
            ><i class="fa fa-github" aria-hidden="true"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12 m-2">
        <img
          class="mb-3"
          src="../../../../assets/App_Hero.png"
          width="80%"
          height="450"
        />
        <a href="https://diyasty.github.io/app--Hero/">
          <button class="btn btn-danger col-md-4">
            <i class="fa fa-facebook p-2 mt-2" aria-hidden="true"> </i>
            Visit The Project
          </button>
        </a>
      </div>
      <hr />
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center">Technical Sheet</h2>
        <h3 class="text-center">
          Code technologies I got involved with while working on this project.
        </h3>
        <ul class="text-center">
          <li>Html5</li>
          <li>Materialize css framework</li>
          <li>css3</li>
          <li>Materialize icons</li>
        </ul>
      </div>
      <div class="col-md-12 text-center">
        <h1>
          Let's talk
        </h1>
        <h3>
          Wanna get in touch or talk about a project? Feel free to contact me
          via email at
          <em style="color: red; border: 1px dotted #000;">
            Diyastysd@gmail.com
          </em>
          or drop a line in the form at the
          <a style="text-decoration: none; color: #000;" href=""
            >contact page
          </a>
        </h3>
      </div>
    </div>
  </div>
</section>
