<div class="home">
  <img
    src="../../../assets/hero.jpg"
    width="150px"
    height="150px"
    class="img-thumbnail"
  />

  <ngx-typed-js
    [strings]="[
      'Welcome..',
      'My Name Is Mohamed Eldiyasty',
      'I\'m a front End Web Developer. ',
      'Feel free to take a look at my Latest ',
      'Projects on my Works page.',
      'Contact Me on Contact Page or on Email',
      'Diyastysd@gmail.com'
    ]"
    [typeSpeed]="60"
    class="title"
    loop="true"
    smartBackspace="true"
  >
    <h2 data-aos="fade-right" data-aos-duration="7000" class="typing"></h2>
  </ngx-typed-js>
</div>
<section class="about">
  <h2 data-aos="fade-right" data-aos-duration="7000" class="text-uppercase">
    about me
  </h2>
  <i class="fa fa-star fa-2x"></i>
  <hr class="star" />
  <p data-aos="fade-up" data-aos-duration="9000">
    I am a Front End developer who believes in making the internet a better
    place.
  </p>

  <p>
    It is my passion to conceptualize, develop, and deploy ideas to this great
    environment we call the internet. I am an advocate for Higher Education
    advancement and when I set my goals I sink my teeth into them.
  </p>
</section>
