<div class="myWorks">
  <div class="container">
    <h2 class="pt-5">MY WORKS</h2>
    <i class="fa fa-star fa-2x"></i>
    <hr class="star" />
    <div class="row">
      <div
        class="col-md-6"
        data-aos="fade-up"
        data-aos-duration="2000"
        data-aos-easing="linear"
        [routerLink]="['/myWorks/Construct']"
      >
        <img
          src="../../../assets/ConstructLandingpage.png"
          height="auto"
          class="img-thumbnail"
        />
      </div>
      <div
        class="col-md-6"
        data-aos="fade-down"
        data-aos-duration="1000"
        [routerLink]="['/myWorks/Maktabti']"
      >
        <img
          src="../../../assets/Maktabti.png"
          height="150px"
          class="img-thumbnail"
        />
      </div>
      <div
        class="col-md-6"
        data-aos="fade-right"
        data-aos-duration="3000"
        [routerLink]="['/myWorks/appHero']"
      >
        <img
          src="../../../assets/App_Hero.png"
          width="100%"
          height="150px"
          class="img-thumbnail"
        />
      </div>
      <div
        class="col-md-6"
        data-aos="fade-left"
        data-aos-duration="3000"
        [routerLink]="['/myWorks/fitnez']"
      >
        <img
          src="../../../assets/fitnez .png"
          width="100%"
          height="150px"
          class="img-thumbnail"
        />
      </div>
      <div
        class="col-md-6"
        data-aos="fade-up-right"
        data-aos-duration="3000"
        data-aos-easing="linear"
        [routerLink]="['/myWorks/Quotes']"
      >
        <img
          src="../../../assets/Quotes-Web-Template.png"
          width="100%"
          height="150px"
          class="img-thumbnail"
        />
      </div>
    </div>
  </div>
</div>
